* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  position: relative;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  border-left: 1px solid black;
  background-color: #faebd7;
}
.menu {
  width: 20%;
  border-right: 1px solid black;
  height: 100%;
  position: fixed;
  background-color: #fffbf5;
}
#logo {
  font-size: 20px;
  letter-spacing: 2px;
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: black;
  display: list-item;
  letter-spacing: 1px;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.body {
  text-align: left;
  margin: 20px;
  margin-left: 22%;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
h1 {
  margin-bottom: 5px;
}
.body p {
  margin-left: 30px;
  margin-bottom: 15px;
}
.title {
  margin: 10px;
}
.list li {
  list-style-type: disc;
  margin-left: 40px;
  margin-bottom: 5px;
}
.greyDiv {
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 5px;
  width: 80%;
  margin-left: 30px;
}
